# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.venv
ENV/
env/
venv/
*.env

# Django
db.sqlite3
staticfiles/
media/
settings.py
bkp_settings.py

# Miscellaneous
*.log
*.pot
*.mo
*.swp
*.swo
.DS_Store

# IDEs
.idea/
.vscode/
